.card-holer{
    flex-direction: left;
    padding-left: 100px;
    padding-bottom: 90px;
}
.favs-div{
    padding-top: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #232345;
    padding-bottom: 100px;
    background-color: #F8EBE6;
    margin-top: -10px;
}
