.item-container{
    padding: 20px;
}
.item-wrapper {
 position: relative;
 float: left;
 width: 250px;
 height: 400px;
}
.item-image{
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 200px;
}
.item-title{
    font-size: 14px;
    font-weight: bold;
    height: 50px;
}
.each-item-div{
    padding: 30px;
}