/* .message-wrapper{
    display: flex;
    flex-direction: right;
    padding: 12px; 
    font-size: medium;
    border: 2px solid grey;
    border-radius: 5px;
    width: 320px; 
    margin-left: 50px;
}
.answer-btn{
    font-size: small;
    display: flex;
    flex-direction: right;
    border-radius: 6px;
    padding: 15px; 
    height: 20px;
} */