#main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    text-align: center;
}
.navbar{
   position: relative;
   display: inline-block;
   width: 100%;
   top: 0;
   background-color: #232345;
   padding: 20px;
   color: white; 
}
#main-logo{
    height: 90px;
    position: relative;
    float: left;
    left: 20px;
}
.searchBar{
    position: relative;
    float: left;
    width: 60vw;
    height: 50px;
    top: 20px;
    left: 30px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #DAE5F3;
    /* padding-left: -30px;  */
}
.searchBar:hover{
background-color: white;
box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.185);
}
.pad-top-80{
    position: relative;
    top: 80px;
    width: 100%;
}
.navSpacing{
    padding-right: 60px;
    color: white;
}