.your-sale-items{
    margin: 25px 50px 75px 100px;
    /* font-size: medium;
    width: 420px; 
    margin-left: 700px;  
    margin-top: 50px; */
}
.message-wrap{
    padding: 12px; 
    font-size: medium;
    border-radius: 5px;
    width: 320px; 
    margin-left: 50px;
}
.prof-buttons-container{
background-color: #DAE5F3;
margin-top: -10px;
width: 100%;
}
.items-for-edit{
    background-color: #F8EBE6;
    margin-top: -10px;
}
#homePageName{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EF5809;
    margin-top: 40px;
}