.trendingBar{
    position: relative;
    display: inline-block;
    width: 100vw;
    top: -10px;
    margin-bottom: -20px;
}
#the-one-trending{
  width: 220px;
  height: 220px;
  position: relative;
} 
#color{
  width: 100%;
  bottom: -30px;
  background-color: #E0EBE3;
}
#trending-font{
  font-family: Georgia, 'Times New Roman', Times, serif;
}