#stoies-container{
    position: relative;
    display: inline-block;
    width: 60%;
    top: 70px;
    left: -7vw;
    margin-bottom: 150px; 
    background-color: #E0EBE3;
    bottom: 50px;
}
#story-card{
   padding: 20px;
   box-shadow: 0px 3px 5px lightgray;
   border-radius: 30px;
   border: 1px solid black;
}
/* .spacer{
    width:100vw;
    position: relative;
    display: inline-block;
    height: 2px;
    background-color: lightpink;
    margin-top: 150px;
  } */
  .whole-thing{
    background-color: #E0EBE3;
    margin-top: -10px;
    margin-bottom: -50px;
  }
